!!! 5
html
    head
        title ride2go from #{locals.fromName} to #{locals.toName}
        meta(http-equiv='content-type', content='text/html; charset=iso-8859-1')

        include includes/scripts
        script
            $(document).ready(function() {
                initRidestreamTable($('#query'),$('#rides'));
            });

        link(type='text/css', href='http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css', rel='stylesheet')
        link(type='text/css', href='/css/ridestream.css', rel='stylesheet')

    body
        #query(fromName=locals.fromName, fromKey=locals.fromKey, logRides=locals.logRides,
            toName=locals.toName, toKey=locals.toKey, departure=locals.departure,
            leftcut=locals.leftcut, rightcut=locals.rightcut)

        table#rides.pretty(padding=0, cellspacing=0, cellpadding=2, border=0)
            thead
                tr
                    th
                        img(src='http://test.fahrgemeinschaft.de/gfx/ico/go.gif')
                        | &nbsp;
                        strong
                            | Start
                    th
                        img(src='http://test.fahrgemeinschaft.de/gfx/ico/go.gif')
                        | &nbsp;
                        strong
                            | Ziel
                    th
                        img(src='http://test.fahrgemeinschaft.de/gfx/ico/date.gif')
                        | &nbsp;
                        strong
                            | Abfahrt
                    th
                        img(src='http://test.fahrgemeinschaft.de/gfx/ico/date.gif')
                        | &nbsp;
                        strong
                            | Ankunft
                    th
                        strong
                            | Dauer
                    th
                        strong
                        | Kosten
                    th
                        strong
                        | Details
